<!-- <script>
  $('.carousel.carousel-multi-item.v-2 .carousel-item').each(function(){
    var next = $(this).next();
    if (!next.length) {
      next = $(this).siblings(':first');
    }
    next.children(':first-child').clone().appendTo($(this));

    for (var i=0;i<4;i++) {
      next=next.next();
      if (!next.length) {
        next=$(this).siblings(':first');
      }
      next.children(':first-child').clone().appendTo($(this));
    }
  });
</script> -->
<div class="booyah-box col-10 offset-1">
  <div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#carousel-example-multi" data-slide="prev"><i
          class="fas fa-chevron-left"></i></a>
      <a class="btn-floating" href="#carousel-example-multi" data-slide="next"><i
          class="fas fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% @projects.each_with_index do |project, index| %> 
      <li data-target="#carousel-example-multi" data-slide-to=#{index} <%= index == 0 ? 'class="active"' : '' %>></li>

      <% end %>
    </ol> -->
    <!--/.Indicators-->

    <div class="carousel-inner v-2" role="listbox">

      <!-- <div class="carousel-item active"> -->
      <% @projects.each_with_index do |project, index| %>
        <div class="item <%= index == 0 ? 'active' : '' %>"> 
          <div class="col-12 col-md-4">                                          
            <div class="card mb-2">
              <%= image_tag project.picture.url, class: "card-img-top" %>
              <div class="card-body">
                <h4 class="card-title font-weight-bold text-center">Card title</h4>
                <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary btn-md btn-rounded text-center">Button</a>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    </div>

  </div>
</div>
